.Calendar {
  color: white;
  display: flex;
  width: 800px;
  margin: auto;
  justify-content: space-around;
}

.Calendar-date-column {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: turquoise;
  text-align: left;
}

.Calendar-details {
  padding: 0 30px 20px 30px;
}
