.Calendar {
  text-align: center;
  color: white;
}

.Calendar-logo {
  height: 40vmin;
}

.Calendar-header {
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.Calendar-link {
  color: #09d3ac;
}
