@font-face {
  font-family: "Gill Sans";
  src: url("/fonts/GillSansStd.otf");
}

.Calendar {
  color: white;
  font-family: "Gill Sans";
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: column;
}

.Calendar-component {
  font-family: "Gill Sans";
  font-size: 12pt;
  color: blue;
  justify-content: center;
}
